.root {
    margin: 0;
    padding: 0;
}
.title {
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.ownerAvatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.ownerAvatar img {
    max-width: 30px;
    height: auto;
    border-radius: 30px;
}
.ownerAvatar a {
    font-size: 18px;
    font-weight: 500;
    color: #fb8464;
}
.center {
    text-align: center;
    margin-bottom: 10px;
}
.center h2 {
    font-size: 1.2em;
    font-weight: 600;
    color: #505050;
}
.flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flexCenter h1 {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.recaptcha {
    margin: 10px 0;
    overflow: hidden;
    width: 298px;
    height: 74px;
    border: 2px solid #303030;
    border-radius: 10px;
    user-select: none;
}
.recaptcha * {
    margin: -1px -1px;
}
/* .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recaptcha * {
    margin: -1px -1px;
} */
.cardsRow {
    margin: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
