.root {
    margin: 0;
    padding: 0;
}
.title {
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.center {
    text-align: center;
}
.comments {
    margin: 20px;
}